* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Orbitron', sans-serif;

    line-height: 1rem;
    letter-spacing: .08rem;

    background: #0e1012;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

main {
    max-width: 700px;
    max-height: 700px;
    color: #fff;
}

main h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;

    font-size: 3rem;
    line-height: 1;
    letter-spacing: .5rem;
}

main span {
    display: flex;
    justify-content: center;

    font: italic 10pt arial;
    color: #666666;
}

#clock-input {
    text-align: center;
}

#clock-input input {
    padding: 5px;

    border: 0;
    border-radius: 3px;

    font: normal 1rem monospace;
    text-align: center;

    color: #010101;
    background-color: #fff;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0;
}

.clock-column {
    text-align: center;
}

.clock-label {
    padding-top: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;

    font-size: 1rem;

    border-top: 1px solid #e2e2e2
}

.clock-timer {
    color: #ff3f5f7f;

    font-size: 3rem;
    line-height: 1;
}