* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 300 1rem "Montserrat", sans-serif;
}

main {
  display: grid;
  place-items: center;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #030b1b, #060d14);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container h1 {
  font-size: 64pt;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
}

#container span {
  position: absolute;
  bottom: 1rem;
}

.genius {
  display: grid;
  grid-template-areas:
    "verde vermelho"
    "amarelo azul";
  grid-gap: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.blue {
  grid-area: azul;
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.red {
  grid-area: vermelho;
  background-color: red;
  border-top-right-radius: 100%;
}

.yellow {
  grid-area: amarelo;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.green {
  grid-area: verde;
  background-color: green;
  border-top-left-radius: 100%;
}

.selected {
  opacity: 0.8;
}
