* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font: 300 12pt 'Montserrat', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;

    background: #333;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#container {
    position: relative;
    color: #fff;
    width: 333px;
    height: 590px;

    border-radius: 1rem;
    background: #c5c5c5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.res input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    border-radius: 1rem 1rem 0 0;
    border: 1px solid #c5c5c5;

    font-size: 2rem;
    color: #333;
    padding: 10px;
}

button {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;

    border: none;
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer; 
    border-radius: 3px;   
}

#buttonsMenu {
    position: absolute;
    top: 85px;
    right: 0;
}

#buttonsMenu button {
    background: #da5406d0; 
    color: #fff;

    transition: .3s ease-out;
}

#mathOperations {
    position: absolute;
    top: 170px;
    right: 0;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;    
}

#mathOperations button,
.percentage,
.dot{
    background: #f103039d;
    color: #fff;

    transition: .3s ease-out;
}

#numbers {
    position: absolute;
    top: 170px;
    left: 0;
    width: 250px;
}


#iqual {
    position: absolute;
    bottom: 0;

    width: 100%;
    margin: 0;
    
    border-radius: 0 0 1rem 1rem;

    color: #fff;
    font-size: 1.5rem;

    background: #3d3de6;
    transition: .3s ease-out;
}

/* hover */
#buttonsMenu button:hover{
    background: #db9108;
    transition: .3s ease-out;
}

#mathOperations button:hover,
.percentage:hover,
.dot:hover{
    background: #d80d0d;
    transition: .3s ease-out;
}
#iqual button:hover {
    background: #0400ff;
    transition: .3s ease-out;
}