* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Montserrat', sans-serif;
}

main {
    background: #d48d0aa1;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#container {
    position: relative;

    width: 500px;
    height: 500px;

    border-radius: 1rem;

    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container span {
    position: absolute;
    bottom: 1rem;
}