* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Montserrat', sans-serif;
}

main {
    background: #070313;

    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}

#container {
    position: relative;

    width: 500px;
    height: 500px;

    border-radius: 1rem;

    background: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#container span {
    position: absolute;
    bottom: 1rem;
}

#container h1 {
    position: absolute;
    top: 2rem;
}

form.lorem-form {
    display: flex;
    justify-content: center;
    align-items: center;    
}

article.lorem-text {
    width: 400px;
    max-height: 200px;
    overflow: auto;

    margin-top: 2rem;
}

.btn {
    width: 100px;
    height: 30px;

    border: none;
    border-radius: 5px;    
}

input#numofParagraph {
    width: 40px;
    height: 30px;

    text-align: center;
}

button.generator-txt {
    background: #ce094b;
    color: #fff;

    margin-left: 5px;
}