* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.120);
}

header {
    text-align: center;
    font: bold 18pt arial;
    letter-spacing: .5rem;
    margin: 2rem;
}

footer {
    text-align: center;
    font: italic 9pt arial;
}