body {
    position: relative;    
}

/* Pop-up add anotações */
#pop-up-bg {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.590);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    display: none;
}

#pop-up-add {
    position: relative;

    width: 400px;
    height: 550px;

    border-radius: 1rem;

    background: #ffffff;
    z-index: 2;
}

.content {
    padding: 1rem;
}

/* Botoes do pop-up */
.btn-close,
.btn-save {
    border: 0;
    cursor: pointer;
}

.btn-close {
    position: absolute;
    right: 1rem;

    width: 40px;
    height: 40px;

    border-radius: .5rem;

    background: #c85656;

    color: #fff;
    font-size: 12pt;
    font-weight: 600;

    /* transition: visibility 0s opacity 0.5s; */
    transition: .3s ease-in;
}

.btn-close:hover {
    background: #eb2222e1;
    transition: .3s ease-in;
}

.btn-save {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 400px;
    height: 50px;

    background: #0c9c0c;
    color: #fff;
    font-size: 12pt;

    border-radius: 0 0 1rem 1rem;
    transition: .3s ease-in;
}

.btn-save:hover {
    background: #118011;
    transition: .3s ease-in;
}

/* Conteudo do pop-up*/
.content-text h2 {
    text-align: center;
    padding: 1rem 0;
}

.content-text input {
    border: 1px solid #c5c5c5;

    width: 100%;
    height: 30px;

    padding: 10px;
}

.content-text textarea {
    border: 1px solid #c5c5c5;
    width: 100%;

    padding: 10px;
}

/* Tipos de notas */
.notes-type {
    padding: 5px;
    margin: 10px 0;

    border: 1px solid #c5c5c5;

    font-weight: 600;
}

.danger,
.success,
.warning,
.info {
    border-style: none;

    width: 100%;

    display: flex;
    flex-direction: column;

    padding: .5rem;
    cursor: pointer;

    opacity: 0.5;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.success {
    background-color: #7ff57f5d;
    border-left: 6px solid #358f1f;
}

.warning {
    background-color: #f5f56b94;
    border-left: 6px solid #d9ff00;
}

.info {
    background-color: #0077ff75;
    border-left: 6px solid #0000ff;
}

.active {
    opacity: 1;
}

/* pop-over anotações */
#popover-note {
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.590);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;   
    
    display: none;
}

#content {
    position: relative;

    width: 600px;
    height: 550px;

    border-radius: 1rem;

    background: #ffffff;
    z-index: 2;

    padding: 4rem 2rem;
}

#content-notes input {
    border: 1px solid #c5c5c5;
    
    padding: 20px;
    width: 100%;

    font-size: 1.5rem;
}

#content-notes input::-webkit-input-placeholder {
    font-size: 1.5rem;
}

#content-notes textarea {
    width: 100%;
    padding: 10px;

    font-size: 1rem;
    
    border: 1px solid #c5c5c5;
    margin: 10px 0;

    resize: none;
}

#buttons .btn-close {    
    top: 1rem;
}
#buttons .btn-save {    
    width: 100%;
    display: none;
}