* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Montserrat', sans-serif;

    width: 100vw;
    height: 100vh;

    background: #000000ed;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

main {
    position: relative;

    width: 700px;
    height: 500px;

    border-radius: 1rem;

    background: #ffffff;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.500);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

main h1 {
    position: absolute;
    top: 2rem;

    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: #f50b0bda;
}

main span {
    position: absolute;
    bottom: 1rem;

    font: italic 10pt arial;
    color: #666666;
}

/* Notas da home */
#container {
    width: 680px;
    max-height: 300px;

    cursor: pointer;

    overflow: auto;
}

.note+.note {
    margin-top: .5rem;
}

#container p {
    max-width: 680px;
    padding: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Botao adicionar notas */
button.btn-add {
    position: absolute;
    top: 2rem;
    right: 2rem;

    width: 80px;
    height: 50px;

    background: #10ad10;
    border: none;

    border-radius: .5rem;
    padding: 10px;

    color: #ffffff;

    font-size: 12pt;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    transition: .3s ease-in;
}

button.btn-add i {
    font-size: 16pt;
}

button.btn-add:hover {
    background: #0a810a9f;
    transition: .3s ease-in;
}