* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 12pt 'Montserrat', sans-serif;
    background: #0e1012;
}

main {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}

#container {
    position: relative;
    color: #fff;
    width: 600px;
    height: 500px;

    border-radius: 1rem;
    background: #15181b;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container h1 {
    color: #ff3f5f7f;

    position: absolute;
    top: 4rem;

    text-align: center;

    font-size: 3rem;
}

#container h1::after {
    content: '';
    width: 350px;

    background: currentColor;

    height: 2px;

    margin: 0 auto;
    display: block;
}

#container span {
    position: absolute;
    bottom: 1rem;

    font: italic 10pt arial;
    color: #666666;
}

.res-convert {
    position: relative;
    width: 300px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.res-convert label {
    position: absolute;
    top: 2rem;
    font-size: 14pt;
}

.res-convert input {
    margin: 10px;
    padding: 5px;

    border: 1px solid #c5c5c5;
    text-align: center;

    border-radius: .5rem;
}

.select-option {
    padding: 5px;
    border-radius: .5rem;
}

button.btn-convert {
    position: absolute;
    bottom: 0;

    background: #f3f5f7;
    padding: .5rem;

    color: #0e1012;

    border: none;
    border-radius: .8rem;

    cursor: pointer;

    width: 300px;
    height: 40px;

    transition: .3s ease-in;
}

button.btn-convert:hover {
    background: #ff3f5f7f;
    color: #f3f5f7;

    transition: .3s ease-in;
}

#res {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#res h2 {
    text-transform: uppercase;
}

#result input {
    border: 1px solid #c5c5c5;
    border-radius: 5px;

    padding: 5px;
    margin-left: 10px;

    text-align: center;

    width: 220px;

    color: #c78e4f;
    text-transform: uppercase;

    cursor: pointer;

    display: none;
}

#result .input-legend {
    font: italic 9pt arial;
}

#result span {
    display: none;
}

#result:hover span {
    position: absolute;
    margin: .5rem 0 0 5rem;

    display: inline-block;
}