* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: normal 10pt Arial;
}

header {
    text-align: center;
    margin-top: 6rem;
}

/* Container de Slides */
#slideshow-container {
    position: relative;
    display: flex;
    justify-content: center;

    background: rgba(131, 115, 200, 0.287);
    border-radius: 2rem;

    max-width: 500px;
    margin: auto;
}

.slide-image {
    margin: 1rem;
}

.slide-image img {
    width: 200px;

}

.slide-image p {
    text-align: center;
    width: 200px;
}

/* Next e Prev Botoes */
#buttons {
    position: absolute;
    top: 50%;
    width: auto;

}

button {
    background: none;
    border: none;

    width: 50px;
    height: 50px;

    cursor: pointer;
}

button img {
    width: 50px;
    height: 50px;
}

#large-image img {
    width: 200px;
    margin-top: 5rem;
}

footer {
    text-align: center;
}