* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Montserrat', sans-serif;

    width: 100vw;
    height: 100vh;    
    
    background: #333;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}

section {
    color: #fff;
    width: 400px;
    height: 400px;        

    border-radius: 1rem;
    background: rgba(102, 102, 102, 0.924);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    text-align: center;

    font-size: 3rem;

    margin: 2rem 0;
}

section label {
    font: normal 14pt arial;
}

section input {
    margin: 10px 0;
}

section button {
    background: #333;
    padding: .5rem;

    color: #fff;

    border: none;
    border-radius: 1rem;

    cursor: pointer;

    width: 100px;
}

section button:hover {
    background: #fff;
    color: #000;

    transition: .5s;
}