* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Montserrat', sans-serif;

    background: #ff1e00b2;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    background: white;

    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.555);

    padding: 15px;

    width: 500px;
}

main h1 {
    font-size: 2rem;
        
    margin: 1rem 0;
    color: #000;
}

button {
    margin-top: 20px;
    padding: 10px;

    border: none;
    border-radius: .4rem;

    background: rgba(255, 30, 0, 0.655);

    color: #fff;
}

button:hover {
    background: rgba(255, 30, 0, 0.90);

    cursor: pointer;
    transform: translateY(-2px);

    transition: .3s;
}

p.copy {    
    text-align: center;    
    margin-top: 10px;

    font: italic 10pt arial;
    color: #666666;
}

/* JavaScript Classes */
.p_output {
    padding-top: 10px;
}

.p_output strong {
    color: rgb(115, 114, 104)
}