/* Botões */
.btn {
    background: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.3s;

    outline: none;
}

button.see-all-picture {
    position: absolute;

    top: 1rem;

    width: 80px;
    height: 40px;

    background: #46436b;
    color: #fff;
}

button.close {
    position: absolute;
    top: 5px;
    right: 5px;

    z-index: 5;

    color: #fff;
    font-size: 16pt;
}

button.scroll-pictures {
    position: fixed;
    bottom: 4rem;
    left: 0;
    right: 0;

    width: 100px;
    height: 30px;

    z-index: 3;

    background: none;

    font-size: 1.5rem;
}

/* Screenshot Botões */
.screenshot-buttons {
    width: 100%;    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screenshot-buttons button {
    width: 100px;
    height: 40px;

    color: #fff;

    transition: all 0.3s;    
}

button.capture-video {
    background: #da5a5a;
}

button.disable-video {
    background: #202020;
}

button.take-picture {
    background: #be800c;
}

/* Fullsize Botões */
.fullsize .content-buttons {
    position: absolute;
    bottom: -2.5rem;

    background: #535353;

    border-radius: 0 0 1rem 1rem;

    width: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.fullsize .content-buttons a {
    text-decoration: none;
    border: none;
    outline: none;

    width: 100%;
    height: 40px;

    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}

.fullsize .content-buttons a.delete {
    border-radius: 0 0 0 1rem;
    background: #e01b1b;
}

.fullsize .content-buttons a.download {
    border-radius: 0 0 1rem 0;
    background: #6a6ab3;
}

.fullsize button.see-all-picture {
    width: 80px;
    top: 1rem;
    left: 1rem;

    z-index: 5;
}

.fullsize .content-buttons a.delete:hover,
.fullsize .content-buttons a.download:hover,
.btn:hover {
    filter: brightness(0.8);
}

.see-all-picture:hover {
    filter: brightness(1.1);
}