/* fullsize aside */
.fullsize {
    width: 100vw !important;
    z-index: 3;

    transition: all .3s;
}

.fullsize .pictures {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 150px;

    background: #c5c5c5;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fullsize .picture {
    width: 150px;
    height: 100px;

    margin: 0 1rem 0 1rem;
}

/* aside content */
.fullsize .aside-content {
    position: relative;
    display: grid;
    place-items: center;

    width: 80% !important;
    height: 50%;

    border-radius: 1rem;

    background: #c5c5c5;
}

/* Classe from js */
.large {
    max-width: 100% !important;
}

.elementHidden {
    opacity: 0;
    transition: all .3s;
}