/* fullsize aside */
.fullsize {
    width: 100vw !important;
    z-index: 3;

    transition: all .3s;
}

.fullsize .pictures {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 150px;

    background: #c5c5c5;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Galeria de Slide de Imagens */
.fullsize .pictures .slide {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fullsize .pictures .slide .picture {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: all 1s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
}

.fullsize .pictures .slide .picture:nth-child(1) {
    left: 0;
    z-index: 1;
    transform: translateX(-100%) scale(.8);
}

.fullsize .pictures .slide .picture:nth-child(2) {
    left: 0;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
}

.fullsize .pictures .slide .picture:nth-child(3) {
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) scale(1);
}

.fullsize .pictures .slide .picture:nth-child(4) {
    left: 100%;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
}

.fullsize .pictures .slide .picture:nth-child(n+5) {
    left: 100%;
    z-index: 1;
    transform: scale(.8);
}

.fullsize .pictures .buttons-pictures button{
    position: absolute;
    top: 50%;
    z-index: 4;
    width: 50%;
    height: 100%;

    transform: translateX(-50%) translateY(-50%) scale(.8);
}

.fullsize .pictures .buttons-pictures .prev {
    left: 0;
}

.fullsize .pictures .buttons-pictures .next {
    left: 100%;
}

.galery::before,
.galery::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: 3;
}

.galery::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0,) 100%);
}

.galery::after {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0,) 100%);
}

/* Estilizando as imagens */
.fullsize .pictures .slide > .picture img{
    width: 150px !important;
}

.fullsize .picture {
    width: 150px;
    height: 100px;

    margin: 0 1rem 0 1rem;
}

/* aside content */
.fullsize .aside-content {
    position: relative;
    display: grid;
    place-items: center;

    width: 80% !important;
    height: 50%;
    margin-top: 2rem;

    border-radius: 1rem;

    background: #c5c5c5;    
}

.fullsize .aside-content .container { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    max-width: 80%;
    overflow-x: auto;
}

.fullsize .aside-content .container > img {
    width: 60%;
    margin: 0 2rem;

    transition: all .5s;
}

/* Classe from js */
.large-fullsize {
    max-width: 100% !important;
}

.elementHidden {
    display: none;
    transition: all .3s;
}

.firstElementFromSlide {
    width: 250px;
    height: 250px;
    
    box-shadow: 10px 3px 3px rgba(0, 0, 0, 0.65);

    transform: rotate3d(-1, 2, 0, 40deg);
}

.lastElementFromSlide {
    width: 250px;
    height: 250px;

    box-shadow: -10px 3px 3px rgba(0, 0, 0, 0.65);

    transform: rotate3d(1, 2, 0, 40deg);
}

/* 
.fullsize .aside-content .container .picture:first-child {
    transform-origin: initial;
} */