* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 1rem 'Montserrat', sans-serif;
    background-image: url(city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;       
}

#container {
    position: relative;
    width: 400px;
    height: 500px;

    border-radius: 1rem;

    background: rgba(185, 185, 185, 0.548);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-shadow: 2px 2px 1px #000; 
}

#container .title {
    position: absolute;
    top: 2rem;
    font-size: 22px;
}

#container span {
    position: absolute;
    bottom: 1rem;

    font: italic 10pt arial;
    color: #f3f5f7;
    text-shadow: none;     
}

#searchContainer {
    position: absolute;
    top: 5rem;
}

#searchContainer input {
    width: 200px;
    height: 40px;

    padding: 10px;
    
    border: 1px solid #cecece;
    border-radius: .5rem;
}

#searchContainer button {
    width: 100px;
    height: 40px;
    
    border: none;
    border-radius: .5rem;
    
    background: #009000;

    font-weight: bold;
    color: #fff;

    cursor: pointer;
}

#weatherContainer {
    width: 100%;

    display: flex;    
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#weatherMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}

#weatherMain div{
    margin: 0 10px;
}

.btn-details {
    margin: 1rem 0;
}