* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', sans-serif;

    background: #19151a;
    display: flex;
    flex-direction: column;
}

#container {
    background: #43394626;
    border-radius: 10px;
    padding: 15px;
    width: 900px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.376);

    color: white;
}

#container .title {
    font-family: 'Cinzel', sans-serif;
    font-size: 2.5rem;

    letter-spacing: 2px;
    margin-bottom: 2rem;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content button {
    height: 50px;
    width: 50px;
    margin: 0 12px;

    background: none;
    color: white;

    outline: none;
    border: 2px solid rgb(184, 134, 222);
    border-radius: 25px;
}

#content label {
    padding: 10px;
}

#content .inputValues {
    width: 140px;
    height: 40px;

    border-radius: 10px 0 0 10px;

    outline: none;
    border: none;
    padding: 0 5px;
}

/* Buttons */
.btnsubmit {
    background: none;
    height: 40px;
    padding: 5px;

    border-radius: 0 10px 10px 0;
    border: 2px solid rgb(184, 134, 222);

    outline: none;

    color: white;
}

.btnlight {
    background: none;
    height: 40px;
    padding: 5px;

    border: 2px solid rgb(184, 134, 222);

    outline: none;

    color: white;
}

#play:hover,
#stop:hover,
.btnsubmit:hover,
.btnlight:hover,
#play:active,
#stop:active,
.btnsubmit:active,
.btnlight:active {
    background: rgba(184, 134, 222, 0.267);

    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
}

/* Ligths */
#lights {
    border-radius: 25px;

    height: 20vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: relative;

    display: flex;
    border-radius: 50%;

    height: 50px;
    width: 50px;

    margin: 1rem;

    background: rgba(0, 0, 0, 0.3);

    transition: 1s all ease;
}

.circle:before {
    position: absolute;
    content: "";

    height: 15px;
    width: 15px;

    left: 17.5px;
    top: -15px;

    margin: 0;
    padding: 0;

    display: inline-block;

    background: rgb(68, 53, 73);

    border-radius: 2px;
    border-bottom: 2px solid rgb(97, 81, 107);
}

.circle:after {
    position: absolute;
    content: "";
    top: -20px;
    left: 30px;

    width: 70px;
    height: 18px;

    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.circle:last-child::after {
    content: "";
    position: absolute;

    border: none;
}

.lightsOn {
    text-align: center;
    text-shadow: 0 0 30px white;

    transition: 1s all ease;
}

.lightsOff {
    text-align: center;
    color: #563260;

    transition: 1s all ease;
}

/* Light colors */
.red {
    background-color: #c0392b;
    animation: glow-1 1s infinite;
}

.yellow {
    background-color: #f1c40f;
    animation: glow-2 1s infinite;
}

.blue {
    background-color: #64fcfe;
    animation: glow-3 1s infinite;
}

.green {
    background-color: #2ecc71;
    animation: glow-4 1s infinite;
}

/* Animations */
@keyframes glow-1 {

    0%,
    100% {
        box-shadow: 0 0 20px 5px #c0392b;
    }

    50% {
        box-shadow: none;
    }
}

@keyframes glow-2 {

    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px 5px #f1c40f;
    }
}

@keyframes glow-3 {

    0%,
    100% {
        box-shadow: 0 0 20px 5px #74f7e1;
    }

    50% {
        box-shadow: none;
    }
}

@keyframes glow-4 {

    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px 5px #2ecc71;
    }
}