* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;
}

#container {    
    width: 100vw;
    height: 100vh;

    border-radius: 1rem;
    background-image: url(./assets/background.png);
    background-size: 100vw;
    background-repeat: round;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container span {
    position: absolute;
    bottom: 1rem;
}

.game {
    position: relative;
}

.background-game {
    margin-top: -3rem;
}

#container .buttons-and-gameover {
    position: absolute;    
    top: 5rem;
}

.buttons {
    width: 100%;

    margin-top: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    outline: none;
}

.start,
.restart {
    background: none;
    border: none;

    cursor: pointer;
}

.start img,
.restart img {
    width: 230px;
    height: 70px;
    transition: transform .3s ease;
}

.start img:hover,
.restart img:hover {
    transform: scale(1.1);
    transition: transform .3s ease;
}

.restart {
    display: none;
}

.large-button img {
    width: 350px;
    height: 100px;
}

.game-over-img {
    width: 512px;
    display: none;
}